.header {
  width: 100%;
  height: 12.8vmin;
  &-row {
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: $spacing-sm $spacing-base;
  }
  &-title {
    width: 100%;
    padding: $spacing-xxs $spacing-xs;
    color: $alternate-text-colour;
    font-size: $font-size-xxl;
    text-align: center;
  }
}
