.weather {
  &-card {
    width: 18.75rem;
    &-header {
      width: 100%;
    }
    &-body {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      padding: $spacing-base;
    }
    &-info {
      flex-basis: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
    }
    &-icon {
      flex-basis: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      padding: $spacing-xs;

      img {
        width: 100%;
        padding: $spacing-xs;
        margin: $spacing-xs auto;
      }
    }
  }
  &-location,
  &-temperature,
  &-condition,
  &-forecast,
  &-date-time {
    width: 100%;
    padding: 0 $spacing-xs;
    text-align: center;
  }
  &-temperature {
    font-size: $font-size-xl;
    font-weight: 700;
  }
  &-condition {
    font-size: $font-size-base;
    font-weight: 500;
  }
  &-forecast {
    font-size: $font-size-base;
    font-weight: 500;
  }
}
