$darkslategray: hsl(240, 1%, 28%);
$tomato: hsl(14, 80%, 60%);
$white: hsl(0, 0%, 100%);
$whitesmoke: hsl(0, 0%, 95%);
$mediumaquamarine: hsl(171, 44%, 63%);

$coral: hsla(27, 97%, 61%, 0.5);
$saddlebrown: hsla(32, 90%, 32%, 0.5);
$forestgreen: hsla(129, 68%, 26%, 0.5);
$paleturquoise: hsla(186, 100%, 88%, 0.75);
