//theme
$header-bg-colour: $darkslategray;
$highlighted-bg-colour: $tomato;
$highlighted-text-colour: $tomato;
$basic-bg-colour: $white;
$alternate-bg-colour: $whitesmoke;
$basic-text-colour: $white;
$alternate-text-colour: $darkslategray;

$spring-colour: $forestgreen;
$summer-colour: $coral;
$autumn-colour: $saddlebrown;
$winter-colour: $paleturquoise;

//spacings
$spacing-primary: 0.0625rem;
$spacing-secondary: 0.125rem;
$spacing-tertiary: 0.1875rem;
$spacing-xxs: 0.25rem;
$spacing-xs: 0.3125rem;
$spacing-sm: 0.5rem;
$spacing-md: 0.75rem;
$spacing-base: 1rem;
$spacing-lg: 1.25rem;
$spacing-xl: 1.5rem;
$spacing-xxl: 1.75rem;
$spacing-xxxl: 2rem;
